[submodule ".dotfiles/utilities"]
	path = .dotfiles/utilities
	url = https://github.com/nicholasadamou/utilities
[submodule ".dotfiles/tag-smu/config/ranger/plugins/zoxide"]
	path = .dotfiles/tag-smu/config/ranger/plugins/zoxide
	url = https://github.com/jchook/ranger-zoxide.git
[submodule ".dotfiles/tag-smu/config/nvim"]
	path = .dotfiles/tag-smu/config/nvim
	url = https://github.com/nicholasadamou/nvim
[submodule ".dotfiles/tag-smu/tmux"]
	path = .dotfiles/tag-smu/tmux
	url = https://github.com/nicholasadamou/tmux
[submodule "set-me-up-installer"]
	path = set-me-up-installer
	url = https://github.com/nicholasadamou/set-me-up-installer
